name: Update Star Count

on:
  schedule:
    - cron: "0 0 * * *"  # 每天 UTC 时间 00:00 运行
  workflow_dispatch:  # 允许手动触发

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: pip install requests

      - name: Run Star+Fork Update Script
        env:
          GITHUB_TOKEN: ${{ secrets.THESHI }}
        run: python update_stars.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update total stars + forks" || exit 0
          git push
